body{
    background-color: rgba(111, 245, 167, 0.671);
    text-align: center;
    color:rgb(3, 3, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
} 

.footercami{
    color: rgb(153, 19, 158);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}